$maincolor: #7bdbec;
$bordercolor: #c9c9c9;

* {
    font-family: 'Open Sans', sans-serif;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

img {
    max-width: 100%;
}

// header
header {
	width: 100%;
	height: 50px;
	background: rgb(123, 219, 236);
	padding: 10px;
}
#bar {
    height: 5px;
    width: 100%;
    background: lighten($maincolor, 20%);
}

footer {
    width: 100%;
    color: grey;
    background: $maincolor;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.8em;
}

input {
    display: block;
    width: 100%;
    margin: 5px 0;
}

input[type='text'] {
    color: black !important;
}

input[type='submit'] {
    background: #7bdbec;
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
    text-align: center;
    cursor: pointer;
}

#statusbar {
    display: inline-block;
    float: right;
    line-height: 30px;
    color: white;
    
    a {
        color: white;
    }

    a:hover {
        text-decoration: none;
    }

}

#logo {
    display: inline-block;
  
    img {
        height: 30px
    }

}

#challenge-slider {
    background-color: $maincolor;
    padding: 10px;
    position: relative;

    #images {
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        white-space: nowrap;
        transition: left 1s;
        transition-timing-function: linear;
        pointer-events: none;

        img {
            height: 100%;
            opacity: 0.3;
        }
    }
  
    h1 {
        color: white;
        text-align: center;
        font-weight: 100;
        margin: 20px;
        position: relative;
        z-index: 1;
    }
}

.join {
    background: white;
    position: relative;
    border: 2px solid $maincolor;  
    border-radius: 5px;
    margin: 20px;
    width: 230px;
    margin: 0 auto 20px;
    padding: 2px 25px;
    color: $maincolor;
    text-align: center;
    box-shadow: 0 0 0 1px white;
    font-size: 1em;
    cursor: pointer;
}

.upload {
    background: #7bdbec;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 25px;
    color: white;
    text-align: center;
    box-shadow: 0 0 0 1px #7bdbec;
    font-size: 1em;
    cursor: pointer;
}


.challenge {
    background: white;
    margin-top: 10px;
    border: 1px solid $bordercolor;

    .img-cont {    
        img {
            width: 100%
        }
    }

    .data-cont {   
        padding: 5px;

        p {
            padding: 3px;
            margin: 0;
        }

        .desc {
            color: grey;
            border-bottom: 1px solid $bordercolor;
        } 
    }
}
// header END

// challenges

.main-challenge-container {
    padding: 20px;
    margin: 15px 5px 5px 35px;
    border: 1px solid $maincolor;
    background-color: white;
    position: relative;

    h2 {
        margin: 0 0 15px;
        font-weight: 400;
        font-size: 1.5em;
        text-transform: uppercase;
        color: $maincolor;

        span {
            font-weight: 600;
        }
    }
}

.main-challenge-container::after {
    content: "";
    border-style: solid;
    border-width: 35px 30px 0 0;
    border-color: transparent $maincolor transparent transparent;
    position: absolute;
    left: -30px;
    top: 0;
    z-index: 1;
}

.main-challenge-container::before {
    content: "";
    width: 400%;
    height: calc(90% - 35px);
    background-color: lighten($bordercolor, 15%);
    position: absolute;
    left: -100%;
    top: 35px;
    z-index: -1;
}

// challenges END

// loginform

.popup {
    position: absolute;
    background: white;
    border: 1px solid #7bdbec;
    width: 200px;
    height: auto;
    top: 70px;
    right: 10px;
    z-index: 1;

    // h4 {
    //     text-align:center;
    //     margin: 0;
    //     padding : 5px;
    //     background-color: #7bdbec;
    //     color: white;
    // }
}

.popup::before {
    content: "";
    border-style: solid;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent #7bdbee transparent;
    position: absolute;
    right: 20%;
    top: -20px;
    z-index: 1;
}

.nopopup {
    border: 1px solid #7bdbec;
    margin: 10px;
}

.nopopup, .popup {
    h4 {
        text-align:center;
        margin: 0;
        padding : 5px;
        background-color: #7bdbec;
        color: white;
    }

    .login-form {
        padding: 5px;
    }
}

// loginform END

// upload appear
#upload-container {
    margin: -5px 10px 15px 40px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    border: 1px solid $bordercolor;
    border-top: 0;
}
// upload appear END

// entry
.entry {
    float: none;
    display: inline-block;

    img {
        height: 150px;
        margin-left: 1em;

        &:first-of-type(0) {
            margin-left: 0;
        }
    }
}

.entry-container {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;

    .row {
        left: 0;
        position: relative;
        transition: left 1s, right 1s;
        margin-left: 0;
        margin-right: 0;
    }
}

.relative {
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 25px;
    border: 1px solid $maincolor;
    line-height: 40px;
    padding: 0 7px;
    height: 50px;
    background-color: white;
    z-index: 0;
    cursor: pointer;
}

.right {
    right: -45px;
    text-align: right;
    border-radius: 0 40px 40px 0;
    border-left: 0;
}

.left {
    left: -45px;
    text-align: left;
    border-radius: 40px 0 0 40px;
    border-right: 0;
}

.entryPopup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .5);
    z-index: 10;
}


.profile-container {
    .left {
        float: left;
        width: 48%;
        border-right: 1px #ccc solid;
        display: flex;
        margin-bottom: 20px;
        
        #profilepic {
            height: 120px;
            width: 120px;
            background-color: #ccc;
            border-radius: 100%; 
        }

        #profiledata {
            margin-left: 10%;
        
            h3 {
                font-size: 1.5em;
            }
            
            h4 {
                font-size: 1.1em;
                font-weight: 100;
            }
        }
    }
      
    .right {
        float: left;
        width: 48%;

        .pics {
            width: 100%;
            display: flex;
        }

        #numbers {
            display: flex;
        }

        .infonumber {
            width: 32%;
            text-align: center;
            font-size: 1.5em;    
        }

        .infopic {
            width: 32%;
            text-align: center;
        }


        .infoicon {
            //background-color: #ccc;
            height: 75px;
            width: 75px;
        }
    }  
      
    .profile-container-inner {
        color: #999;
        //font-size: 1em;
        line-height: 1.5em;
    }  
}


.register-container {
  width: 500px;
  margin: 0 auto !important;
  margin-top: 20px;
  height: 260px;
  

     
  input {
    width: 220px;
    margin: 2px;
    border: 1px $maincolor solid;
    background-color: #f9f9f9;
    line-height: 1.9em;
    margin-top: 4px;
    margin-bottom: 4px;
    float: right;
  }
  label {
    color: #555;
    width: 250px;
    display: block;
    float: left;
    clear: both;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 4px;
    
  }
  .register {
    padding: 6px;
    font-size: 1em;
    transition: opacity 0.5s;
    text-transform: uppercase;
    float: right;
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 150px;
    
    &:hover {
      opacity: 0.7;
    }
  
  }

}
