<div>
	<div class="challenge">
		<a href="/challenge/{{ challenge.challengeType }}/{{ challenge.id }}">
			<div class="img-cont">
				<img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/9/26/1348685374708/Southern-Ocean-011.jpg"/>
			</div>
			<div class="data-cont">
				<div class="desc">
					<p>{{ challenge.name }}</p>
				</div>
				<div class="row" ng-if="showContent">
					<div class="col-md-6">
						<div class="uploads">
							<p>{{ challenge.howManyUploads }} uploads</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="likes">
							<p>(not) Over</p>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>	
</div>