<div class="col-md-8 col-md-offset-2">
	<div class="main-challenge-container register-container">
		<h2>Register</h2>
		<div class="row">
			<div class="col-md-12">
				<form id = "registerform" novalidate>
					<label for="username">Username:</label>
					<input type = "text" ng-model="user.userName" id = "username"></input>
					
					<label for="email">Mail:</label>
					<input ng-model="user.email" type="text" name="email" required></input>
					
					<label for="password1">Password:</label>
					<input type="password"
					ng-model="user.password" name="password" required></input>
					
					<label for="password2">Password repeat:</label>
					<input type="password"
					ng-model="user.passwordProof" name="passwordProof" required></input>
					<button ng-click="submitRegister()" class="register">Register</button>
				</form>
			</div>
		</div>
	</div>
</div> 	