<header>
	<div class="container">
		<div id="logo">
			<a href="/">
				<img src="/tmp/assets/img/picstar/logo.png" alt="">
			</a>
		</div>
		<div id="statusbar">
			<div ng-if="!isLoggedIn">
				<a href="/register">Sign up</a> | 
				<a href="#" ng-click="showPopupLogin = !showPopupLogin">Login</a>
				<div login ng-show="showPopupLogin" class="popup">
				</div>
			</div>
			<div ng-if="isLoggedIn">
				<a href="#">Hello {{ username }}</a> | 
				<a href="#" ng-click="logout()">Logout</a>
			</div>
		</div>
	</div>
</header>

<div ng-if="!isLoggedIn" join></div>
<div ng-if="isLoggedIn" id="bar"></div>
